/**
 * settings/_colors.scss
 */

$color-primary: #2a2a2a;
$color-primary-dark: #1a1a1a;

$color-secondary: #fafafa;
$color-secondary-dark: #eaeaea;

$color-dark: #000000;
$color-light: #FFFFFF;

$color-success-100: #CAFDCE;
$color-success-200: #97FCA8;
$color-success-300: #62F689;
$color-success-400: #3BEC7C;
$color-success-500: #00E169;
$color-success-600: #00C16D;
$color-success-700: #00A26B;
$color-success-800: #008264;
$color-success-900: #006C5D;

$color-info-100: #D2E4FD;
$color-info-200: #A5C7FC;
$color-info-300: #77A6F8;
$color-info-400: #5588F1;
$color-info-500: #205CE8;
$color-info-600: #1746C7;
$color-info-700: #1034A7;
$color-info-800: #0A2386;
$color-info-900: #06186F;

$color-danger-100: #FFE7D7;
$color-danger-200: #FFCAAF;
$color-danger-300: #FFA687;
$color-danger-400: #FF8469;
$color-danger-500: #FF4B38;
$color-danger-600: #DB2B28;
$color-danger-700: #B71C26;               
$color-danger-800: #931125;
$color-danger-900: #7A0A24;

$color-neutral-100: #FCFBFA;
$color-neutral-200: #F7F6F5;
$color-neutral-300: #EBE9E8;
$color-neutral-400: #CACACC;
$color-neutral-500: #A6A6AB;
$color-neutral-600: #7F7F85;
$color-neutral-700: #4A4B4C;
$color-neutral-800: #35353B;
$color-neutral-900: #151517; 